{% extends 'base.html.twig' %}
{% block body %}
{# list comments #}
    {% for comment in comments %}
        <div class="comment">
            <img src="{{ gravatar(comment.email) }}" />
            {{ comment.name }}
            {{ comment.date | date}}
            {{ comment.comment }}
        </div>
    {% endfor %}
{# display form #}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
